<div class="si-portal explorer-expanded si-hide-preview" data-bind="css: inEditMode ? 'si-desktop-organize' : 'si-desktop-normal' ">
    <!-- koLayout: topbar -->
    <div class="si-portal-main">
        <!-- koLayout: explorer -->
        <main class="si-portal-content si-scrollbar-transparent si-scrollbar-default-hover si-panorama">
           
            <!-- koLayout: dashboard -->

            <!-- koLayout: deck -->
           
        </main>

        <!-- koLayout: rightContextpane-->
    </div>
</div>tem