<div class="si-portal-contextpane-right si-contextpane si-portal-bg-txt-br si-contextpane-visible" role="complementary">
    <button type="button" class="si-contextpane-expand si-display-none">
        <div class="si-contextpane-button-inner si-portal-svg">
            
        </div>
    </button>
    <button type="button" class="si-contextpane-close" title="Close" data-bind="click:close">
        <div class="si-contextpane-button-inner si-portal-svg">
            <svg viewBox="0 0 16 16" class="siportalfx-svg-placeholder" role="img" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false">
                <polygon points="15,3.475 12.539,1.001 8.006,5.534 3.474,1.001 1,3.475 5.52,8.007 1,12.527 3.474,15.001 7.994,10.481 12.526,15.014 15,12.54 10.467,8.007 "></polygon>
            </svg>
        </div>
    </button>
   <!--koLayout : content-->
    <div class="si-progress-dots">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>