<div class="si-notificationspane si-contextpane-content">
    <div class="si-notificationspane-header">
        <h2 id="notifications-title-id" class="si-notificationspane-title">Create profile</h2>
        
    </div>
    <div class="si-notificationspane-top">


        <!-- koLayout: friend -->
        <div class="row">
            <div class="col-sm-6">
                <!-- koLayout: firstName -->
            </div>
            <div class="col-sm-6">
                <!-- koLayout: lastName -->
            </div>
        </div>

        <!-- koLayout: email -->
        <!-- koLayout: phone -->
        <!-- koLayout: password -->

        <div class="form-row md-form-control" style="margin-bottom:15px;">

            <div id="card-element">
                <!-- A Stripe Element will be inserted here. -->
            </div>

            <!-- Used to display form errors. -->
            <div id="card-errors" role="alert"></div>
        </div>


        <div class="nodata-content" title="No new notifications from this session">
            * Sponsor agreement, by upgrading to a sponsor account you agree to allowing us to charge you 1€ per month to help us bootstrap the product and in return we will add 5€ in credit to your account such you will see the charge on your card in 5 months.
        </div>

        <div class="row flex-bottom space-bottom2">
            <div class="col-sm-12">
                <button class="btn btn-primary btn-block ripplelink shadow bold uppercase" data-bind="click:submit">Upgrade</button>
            </div>
        </div>



    </div>
</div>