<!-- ko with: vm -->
<div class="si-sidebar" data-bind="css :{'si-sidebar-is-collapsed' : collapsed}">
    <div class="si-sidebar-bar">
        <button class="si-sidebar-collapse-button si-has-hover" data-bind="click : toggleCollapsed">
            <svg viewBox="0 0 15 15" class="siportalfx-svg-placeholder" role="img" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false"> <g> <rect y="2.85" width="15" height="1.01"></rect> <rect y="7" width="15" height="1.01"></rect> <rect y="11.14" width="15" height="1.01"></rect> </g> </svg>
        </button>
        <button class="si-sidebar-create si-has-hover si-has-border" title="New (N)" data-bind="click:$AzurePortalSideBarLayout.createNew.bind($AzurePortalSideBarLayout)">
            <div class="si-sidebar-button-flex">
                <div class="si-sidebar-create-icon si-fill-success">
                    <svg viewBox="0 0 18 18" class="siportalfx-svg-placeholder" role="img" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false"> <g id="Isolation_Mode"> <polygon id="XMLID_319_" class="st0" points="8,18 10,18 10,10 18,10 18,8 10,8 10,0 8,0 8,8 0,8 0,10 8,10"></polygon> </g> </svg>
                </div>
                <div class="si-sidebar-create-label si-sidebar-show-if-expanded">New</div>
            </div>
        </button>

        <button class="si-sidebar-browse si-trim-hover si-menu-browse siportalfx-vertical-center" tabindex="0" role="button" aria-expanded="false"  title="All tables" aria-label="All tables" data-bind="asyncClick:$AzurePortalSideBarLayout.showResources.bind($AzurePortalSideBarLayout)">
            <div class="si-sidebar-button-flex">
                <div class="si-sidebar-browse-icon si-trim-svg">
                    <svg viewBox="0 0 50 50" focusable="false" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svg="http://www.w3.org/2000/svg" class="si-portal-svg" role="presentation" id="FxSymbol0-011" width="100%" height="100%"><g><title></title><path class="siportalfx-svg-c04" d="M19.432 22.112h27.119v6.307H19.432zm0 13.875h27.119v6.307H19.432zm0-27.75h27.119v6.307H19.432z"></path><circle r="3.784" class="siportalfx-svg-c15" cx="6.818" cy="39.152" opacity=".6"></circle><circle r="3.784" class="siportalfx-svg-c15" cx="6.818" cy="11.907" opacity=".6"></circle><circle r="3.784" class="siportalfx-svg-c16" cx="6.818" cy="25.53"></circle></g></svg>
                </div>
                <div class="si-sidebar-browse-label si-trim-text si-sidebar-show-if-expanded" >All tables</div>
            </div>
        </button>

        <!-- koLayout : $AzurePortalSideBarLayout.favoritesLayout -->

    </div>
</div>
<!-- /ko -->