<div class="si-startboard-target si-theme-context-start si-startboard si-rightClick">
    <div class="si-startboard-layout si-scrollbar-transparent si-scrollbar-default-hover si-flowlayout">
        <div class="si-flowlayout-childcontainer" data-bind="style:{height:containerHeight}">
            <!-- ko foreach: items -->
            <!-- koLayout: $data -->
            <!-- /ko -->
            <!-- ko if: dropPlacementStyle -->
            <div class="si-flowlayout-drop-placeholder" data-bind="style:dropPlacementStyle"></div>
            <!-- /ko-->
        </div>
    </div>
</div>